<h1>List of Customers:</h1>

<ul>
  <% @customers.each do |customer| %>
    <li>
      <%= link_to customer.name, customer_path(customer) %>
    </li>
  <% end %>
</ul>

<%= link_to "Add New Customer", new_customer_path %>
