<h1>List of Customers:</h1>

<ul class="cutomers">
  <% @customers.each do |customer| %>
    <li>
      <%= link_to "#{customer.last_name}, #{customer.first_name}", customer_path(customer) %>
    </li>
  <% end %>
</ul>

<%= link_to "Add New Customer", new_customer_path %>
